/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.promo{
  display: flex;
  justify-content: space-around;
  background: #C4D1F9;
  padding: 1% 0;
  align-self: center;
}
.promo span{
  font-weight: bold;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding:1.5% 0;
}

.nav-left{
  margin-left: 7%;
}
.nav-right{
  display: flex;
  margin-right: 7%;
}

nav a{
  text-decoration: none;
  color: #35383D;
}
.order{
  background: #4c753f;
  border-radius: 20px;
  cursor: pointer;
  padding: 2% 10%;
}

nav, .main{
  background-image:url(/assets/mainbg.jpg);
}
nav{
  background: white;
}
.main{
  height: 525px;
}
.yp2{
  display: flex;
  background: rgba(0, 0, 0, .3);
  width: 30%;
  height: 502px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.yp2text {
  color: white;
  width: 60%;
}
.yp2-order{
  width: 60%;
  padding: 5% 10%;
  color: #4C753F;
  background: white;
  border-radius: 50px;
  font-size: 20px;
}
.yp2-img{
  margin-bottom: 30%;
}
.main-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.main-buttons button{
  background: #4C753F;
  color: white;
  padding: 1% 3%;
}